@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: auto;
    margin: auto;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: #ffffff;
}
body{
    background-color: #1f2a33	;
}
header.nav{
     background-color: #000000;
     display: flex;
     align-items: center;
     justify-content: space-around;
     height: 9vh;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 2vh;
    padding: 1vh 2vh;
    font-weight: 500;
    transition: 0.4s;
    border-radius: 5vh;
    height: 9vh;
  }
  
  nav a:hover {
    background: #4682B4;
    color: #ffffff;
  }
  .tt{
    display: flex;
    align-items: center;
    justify-content: center;
  }